.submit {
  padding: 12px 16px 0 16px;
  background: #f1f1f5;
  &-preview {
  }
}

.photo {
  margin-top: -30px;

  &-small {
    width: calc((100% - 30px) / 4);
    margin-right: 10px;

    &-mb {
      margin-bottom: 10px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &-list {
    overflow-x: overlay;
  }

  &-item {
    &--choose {
      border-color: #7e6aff;
    }
  }
}
