.header{
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  &__btn {
    .icon-back {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    font-size: 16px;
    color: #131415;
    text-align: center;
  }
}
